<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>{% block title %}Munaaha Hotel Management{% endblock %}</title>
    <style>
        /* {% block style %} */
        body{
            margin: 0;
            padding: 0;
        }
        /* {% endblock %} */
    </style>
</head>
<body>
    <div class="container">
    <nav class="navbar navbar-default navbar-static-top">
        
          <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="{% url 'home' %}">Home</a></li>
            <li><a class="navbar-link" href="{% url 'guest_register' %}">Register</a></li>  
            {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li><a class="navbar-link" href="{% url 'login' %}">Login</a></li>
            {% endif %}
  </ul>
        
      </nav>
    {% block content %}
        <p>This is the base teplate</p>
        <!-- <a href={% url "guest_register" %}><button>Signup</button></a> -->
        <a href={% url "login" %}><button>SignIn</button></a>
    {% endblock %}
    </div>
</body>
</html>